@media screen and (max-width: 767px) {
  .blog-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .display-2 {
      font-size: 24px !important;
  }
} 
   
  /*** Routers  ***/
  
  .hover {
	position: relative;
	z-index: 3;
  }


  .router {
    margin-bottom: 50px;
  }

  .router-title {
    font-size: 24px;
    color: $white;
    padding: 10px;
    margin: 0;
  }

  .router-eyebrow {
    font-style:italic;
    font-size: 18px;
    color: $white;
    padding: 10px;
    margin: 0;

    span {
      display: block;
    }
  }

  .router-post {
    margin-top: 80px;
  }

.align-right {
  float: right;
  text-align: right;
}

.divider {
  border-top: 2px solid $black;
  height: 40px;
  width: 200px;
  margin: 0 auto;
}