.bottom-border {
    border-bottom: 2px solid $black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.southpaw {
    float: left;
}

textarea {
    border: none !important;
    width: 600px !important;
    height: 200px !important;
    padding: 0 !important;
}

.wp-block-jetpack-contact-form .grunion-field-wrap {
	border-bottom: 2px solid black !important;
	border-right: 0 !important;
}

.wp-block-button__link {
	margin-top: 20px !important;
}

.wp-block-jetpack-contact-form input[type=text], .wp-block-jetpack-contact-form input[type=email], .contact-fields {
    margin-left: 0 !important;
}

.contact-form input[type=email], .contact-form input[type=tel], .contact-form input[type=text], .contact-form input[type=url] {
	margin-bottom: 0 !important;
	
}