.bottom-border {
    border-bottom: 2px solid $black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.southpaw {
    float: left;
}

textarea {
    border: none !important;
    width: 600px !important;
    height: 200px !important;
    padding: 0 !important;
}

div.wpforms-container-full .wpforms-form input[type=text] {
    margin-left: 0 !important;
}

div.wpforms-container-full .wpforms-form input[type=email] {
    margin-left: 0 !important;
}

div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea {
    padding: 0;
}


div.wpforms-container-full .wpforms-form button[type=submit] {
    border: 2px solid #0B0C0D;
    width: 200px;
    text-align: center;
    padding: 20px;
    color: #0B0C0D;
    background-color: transparent;

    &:hover {
        color: $white !important;
        background-color: $black !important;
        transition: 0.1s background-color linear, 0.1s color linear;
        cursor: pointer;
    }
    
    &:active {
        color: $white !important;
        background-color: $black !important;
      }
}

.send-button {
    border: 2px solid $black !important;
    width: 200px;
    text-align: center;
    padding: 20px;
    color: $black !important;
    background-color: transparent !important;

    &:hover {
        color: $white !important;
        background: $black;
        transition: 0.1s background-color linear, 0.1s color linear;
        cursor: pointer;
    }
    
    &:active {
        color: $white !important;
        background: $black;
      } 

  }