$black : #0B0C0D;
$white : #FDFDFD;
$dark-charcoal : #323231;
$cobalt-night : #353739;

* {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    background-color: $white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Mulish', sans-serif !important;
  }

  a {
    text-decoration: none !important;
  }

  p {
    font-family: 'DM Sans', sans-serif !important;
  }

.center {
    margin: 0 auto;
}

.spacer {
  height: 50px;
}

main {
    margin-top: 50px;
}

.header-margin {
  margin-bottom: 0.5rem !important;
}

.white {
    color: white;
}

.spacer {
  padding: 40px 0;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left !important;
}

.wp-block-button__link {
  float: left !important;
}