.post-portfolio {
    margin-top: 400px !important;
}

.reel {
    
    a, a:hover {
        color:$white;
    }
}

.booking-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../img/booking.jpg);
}