.woocommerce ul.products li.product .price {
    color: $black;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    border-radius: 0;
    background-color: none;
    border: solid 1px $black;

    a:hover {
        color:$black;
    }
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color:$black;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    color: $black;
    background-color: none;
}